@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #000;
    font-family: Quicksand, sans-serif;
    color: #FFF;
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: lowercase;
}

.background-image {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

.foreground {
	z-index: 100;
}

.background {
	display: block;
}

.text-container {
	z-index: 1000;
	color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
    text-shadow: 0 0 20px #999;
}

h1 {
	font-size: 7rem;
	margin-left: -8px;
}

h2 {
	font-size: 2em;
	margin-top: 2vh;
}

ul {
	margin-top: 2vh;
}

li {
	margin-top: 5px;
}

a, a:active, a:visited, a:hover, a:focus {
	font-size: 1.5em;
	color: #fff;
	text-shadow: 0 0 5px #999;
	text-decoration: none;
	letter-spacing: .9px;
}

a:hover {
	text-decoration: underline;
}
